.spinner-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: saturate(180%) blur(10px);
}



.spinner{
    width: 4em;
    height: 4em;
    border:solid  0.3rem transparent;
    border-radius: 50%;
    border-top-color: var(--main-color);
    border-right-color: var(--main-color);
    animation: var(--spinner-animation);
}