.products-display{
    padding: 5rem 1rem;
    background-color: #fafafa;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap :1em;
    animation: var(--primary-load-animation);
}

@media  screen and (max-width:500px) {
    .products-display{
        padding: 1rem;
        padding-bottom: 4rem;
    }
}