.profile-page-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scalable 1s ease;
}

.profile-page-container{
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2em;
    height: 18em;
    width: 38em;
    padding: 1em;
    border-radius: 4px;
    box-shadow:var(--primary-box-shadow);
    background-color: transparent;
    background: rgba( 255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
}

.profile-page-container-left-bar{
    border-radius: inherit;
    box-shadow: inherit;

}

.profile-page-container-left-bar-profile{
    border-radius: 50%;
    height: 3em;
    width: 3em;
    border:solid black 1px;
}

.profile-page-container-left-bar-profile-image{
    width: 60%;
    height: 60%;
}

.profile-page-container-main-bar{
    border-radius: inherit;
    box-shadow: inherit;
}

.profile-page-content{
    color: white;
}